.button {
  background: none;
  border: 0;
  box-sizing: border-box;
  /* margin: 1em;
  padding: 1em 2em; */
  box-shadow: inset 0 0 0 2px #242424;
  /* color: #f45e61; */
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

.button::before, .button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.drawed {
  transition: color 0.50s;
}
.drawed::before, .drawed::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.drawed::before {
  top: 0;
  left: 0;
}
.drawed::after {
  bottom: 0;
  right: 0;
}
.drawed:hover {
    cursor: pointer;
   
  color: #fbca67;
}
.drawed:hover:before, .drawed:hover:after {
  width: 100%;
  height: 100%;
}
.drawed:hover:before {
  border-top-color: #fbca67;
  border-right-color: #fbca67;
  transition: width 0.50s ease-out, height 0.25s ease-out 0.50s;
}
.drawed:hover:after {
  border-bottom-color: #fbca67;
  border-left-color: #fbca67;
  transition: border-color 0s ease-out 0.5s, width 0.50s ease-out 0.5s, height 0.50s ease-out 0.75s;
}



.meet:hover {
    color: #fbca67;
  }
  .meet::after {
    top: 0;
    left: 0;
  }
  .meet:hover::before {
    border-top-color: #fbca67;
    border-right-color: #fbca67;
  }
  .meet:hover::after {
    border-bottom-color: #fbca67;
    border-left-color: #fbca67;
    transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  }

  .center:hover {
    color: #fbca67;
  }
  .center::before, .center::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }
  .center::before {
    border-top: 2px solid #fbca67;
    border-bottom: 2px solid #fbca67;
    transform: scale3d(0, 1, 1);
  }
  .center::after {
    border-left: 2px solid #fbca67;
    border-right: 2px solid #fbca67;
    transform: scale3d(1, 0, 1);
  }
  .center:hover::before, .center:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
  }