#text {
    height:17%;
    width:35%;
    margin: auto;
    border: 1px solid red;
    color: #fff;
    position: relative;
    visibility: hidden;
    font-size: 6em;
    line-height: 1.3;
    text-transform: uppercase;
  }
  #text::before, h1::after {
    visibility: visible;
    content: attr(data-word);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: transform 0.5s;
  }
  #text::before {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 65%);
            clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 65%);
    will-change: transform;
    transform: translatex(-0.13em);
  }
  #text::after {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 39%, 0 67%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 39%, 0 67%);
    transform: translatex(0.13rem);
  }
  #text:hover::before, h1:hover::after {
    transform: translatex(0) translatez(0);
  }
  
  .back {
    height: 100vh;
    width: 100vw;
    background-color: #73cf17;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   