  nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
  }
  
  .btnC {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    z-index:10;
  }
  
  .ul-box, .li-box{
    margin: 0;
    padding: 0;
    z-index:11;
  }
  
  
  .ul-box {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 230px;
  }
  
  .li-box {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
    /* animation-name: rotateD;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-direction: reverse;
        @keyframes rotateD {
            0%{
                scale:0.8;
                transform: rotate3d(0, 1, 0,0deg);
            }
            25%{
                scale:1;
                transform: rotate3d(0, 1, 0,90deg);
            }
            50%{
                scale:1;
                transform: rotate3d(0, 1, 0,180deg);
            }
            75%{
                scale:0.8;
                transform: rotate3d(0, 1, 0,270deg);
            }
            100%{
                scale:1;
                transform: rotate3d(0, 1, 0,360deg);
            }
        } */
    
  }
  
  .text-placeholder {
    /* border-radius: 5px; */
    width: 200px;
    height: 20px;
    font-family: 'GT Sectra Display','Times New Roman',sans-serif;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 2.3rem;
    font-weight: 700;
    justify-content: center;
    
  }

  .icon-placeholder:hover{
    animation-name: rotateD;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-direction: reverse;
        @keyframes rotateD {
            0%{
                scale:0.8;
                transform: rotate3d(0, 1, 0,0deg);
            }
            25%{
                scale:1;
                transform: rotate3d(0, 1, 0,90deg);
            }
            50%{
                scale:1;
                transform: rotate3d(0, 1, 0,180deg);
            }
            75%{
                scale:0.8;
                transform: rotate3d(0, 1, 0,270deg);
            }
            100%{
                scale:1;
                transform: rotate3d(0, 1, 0,360deg);
            }
        }
  }
  
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .hde{
    position: absolute;
    width: 100px;
    height: 20px;
    left: 85px;
  }