body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
body,
i,
img,
small,
label,
li,
ul,
p,
nav,
span {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	/* font-size: 100%; */
	/* vertical-align: baseline; */
	background: transparent;
}

.header-responsive-style{
  font-size:0px;
}

.secondary-header-responsive-style{

}

.card-text-responsive-style{
  font-size: 2rem;
}

.text-responsive-style{
  font-size: 14.5px
}


@media only screen and (min-width:600px) {
  .header-responsive-style{
 
  }
  
  .secondary-header-responsive-style{
  
  }

  .card-text-responsive-style{
    font-size: 10px;
  }
  
  .text-responsive-style{
    font-size: 14px;
  }
  
}

@media only screen and (min-width:920px) {
  .header-responsive-style{
 
  }
  
  .secondary-header-responsive-style{
  
  }
  .card-text-responsive-style{
    font-size: 12px;
  }
  
  
  .text-responsive-style{
    font-size: clamp(13px,1.4vw,14px);
  }
}

@media only screen and (min-width:1300px) {
  .header-responsive-style{
    font-size: 18px;
  }
  
  .secondary-header-responsive-style{
  
  }
  .card-text-responsive-style{
    font-size: 13px;
  }
  
  
  .text-responsive-style{
    font-size: clamp(14px,1.4vw,16px);
  }
}
 

@media only screen and (min-width:1710px) {
  .header-responsive-style{
    font-size: 20px;
  }
  
  .secondary-header-responsive-style{
  
  }

  .card-text-responsive-style{
    font-size: 14px;
  }
  
  .text-responsive-style{
    font-size: clamp(16px,1.1vw,18px);
  }
  
}

@media only screen and (min-width:2000px) {
  .header-responsive-style{
    font-size: 22px;
  }
  
  .secondary-header-responsive-style{
  
  }

  .card-text-responsive-style{
    font-size: 16px;
  }
  
  .text-responsive-style{
    font-size: 20px;
  }
  
}



@media only screen and (min-width:2400px) {
  .header-responsive-style{
 
  }
  
  .secondary-header-responsive-style{
  
  }
  .card-text-responsive-style{
    font-size: 18px;
  }
  
  .text-responsive-style{
    font-size: clamp(22px,1.2vw,24px);
  }
  
}

@media only screen and (min-width:3500px) {
  .header-responsive-style{
    font-size: 5vw;
  }
  
  .secondary-header-responsive-style{
  
  }
  
  .text-responsive-style{
    font-size: clamp(26px,1.2vw,35px);
  }
  
}



