body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
body,
i,
img,
small,
label,
li,
ul,
p,
nav,
span {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	/* font-size: 100%; */
	/* vertical-align: baseline; */
	background: transparent;
}

.header-responsive-style{
  font-size:0px;
}

.secondary-header-responsive-style{

}

.text-responsive-style{
  font-size: 14.5px
}


@media only screen and (min-width:650px) {
  .header-responsive-style{
 
  }
  
  .secondary-header-responsive-style{
  
  }
  
  .text-responsive-style{
    font-size: clamp(14px,1.5vw,16px);
  }
  
}

@media only screen and (min-width:992px) {
  .header-responsive-style{
 
  }
  
  .secondary-header-responsive-style{
  
  }
  
  .text-responsive-style{
    font-size: clamp(16px,1.4vw,20px);
  }
  
}

@media only screen and (min-width:1400px) {
  .header-responsive-style{
 
  }
  
  .secondary-header-responsive-style{
  
  }
  
  .text-responsive-style{
    font-size: clamp(20px,1.1vw,24px);
  }
  
}

@media only screen and (min-width:2500px) {
  .header-responsive-style{
 
  }
  
  .secondary-header-responsive-style{
  
  }
  
  .text-responsive-style{
    font-size: clamp(24px,1.2vw,28px);
  }
  
}

@media only screen and (min-width:3500px) {
  .header-responsive-style{
    font-size: 5vw;
  }
  
  .secondary-header-responsive-style{
  
  }
  
  .text-responsive-style{
    font-size: min(40px,1.4vw);
  }
  
}



